@charset "UTF-8";
/* =========================================================
	◆リンク
========================================================= */
.el_linkExternal::after { content: ""; width: 14px; height: 17px; vertical-align: text-top; display: inline-block; background: url(../images/icon_external.png) 0 0/100% auto no-repeat; }

/* =========================================================
	◆見出し
========================================================= */
.el_ttlLv1 { font-size: 36px; font-family: "a-otf-midashi-go-mb31-pr6n", sans-serif; line-height: 1.35; letter-spacing: -0.6px; color: #323c46; margin-bottom: 55px; }

.el_ttlLv2, .el_ttlLv2_type2 { font-size: 26px; line-height: 1.5; color: #323c46; margin-bottom: calc(48px - (((2.4rem * 1.5) - 2.4rem) / 2)); }
.el_ttlLv2_type2 { width: 100%; font-size: 24px; padding-bottom: 12px; border-bottom: 3px solid #e3e3e1; position: relative; }
.el_ttlLv2_type2:before { content: ""; width: 48px; height: 3px; background: #0b52a4; position: absolute; left: 0; bottom: -3px; }
@media screen and (max-width: 647px) { .el_ttlLv2_type2 { padding-bottom: 3.8%; } }

.el_ttlLv3 { font-size: 20px; font-weight: bold; line-height: 1.5; color: #323c46; margin-bottom: calc(48px - (((2rem * 2) - 2rem) / 2)); }

.el_ttlLv4, .el_listBlock dl.el_dlList dt { font-size: 16px; font-weight: bold; line-height: 1.5; color: #323c46; margin-bottom: calc(24px - (((1.6rem * 2) - 1.6rem) / 2)); }

@media screen and (max-width: 647px) { .el_ttlLv1 { font-size: 32px; } }
/* =========================================================
	◆テキスト パーツ
========================================================= */
.el_txt { font-size: 16px; line-height: 2; }
.el_txtCap { font-size: 12px; line-height: 1.8; margin-top: 10px; }
.el_txtLead { font-size: 22px; line-height: 1.8; }

/* =========================================================
	◆カラムブロック
========================================================= */
.el_colUnitArea { margin: 0 0 24px; }
.el_colUnitArea::after { content: ""; clear: both; display: block; }
.el_colUnitArea > [class*="el_col"]:not(.el_colOne) { float: left; margin-left: 24px; word-wrap: break-word; }
.el_colUnitArea > [class*="el_col"]:not(.el_colOne):first-child { margin: 0; }
.el_colUnitArea .el_colOne { width: 100%; }
.el_colUnitArea .el_colHalf { width: calc(50% - 12px); }
.el_colUnitArea .el_colThird_one { width: calc(33.3333% - 16px); }
.el_colUnitArea .el_colThird_two { width: calc(66.6666% - 8px); }
.el_colUnitArea .el_colQuarter_one { width: calc(25% - 18px); }
.el_colUnitArea .el_colQuarter_two { width: calc(50% - 12px); }
.el_colUnitArea .el_colQuarter_three { width: calc(75% - 6px); }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_colUnitArea:not(.el_colWidthFixed) > [class*="el_col"]:not(.el_colOne) { width: calc(50% - 12px); margin-top: 24px; }
  .el_colUnitArea:not(.el_colWidthFixed) > [class*="el_col"]:not(.el_colOne):nth-child(-n+2) { margin-top: 0; }
  .el_colUnitArea:not(.el_colWidthFixed) > [class*="el_col"]:not(.el_colOne):nth-child(odd) { margin-left: 0; } }
@media screen and (max-width: 647px) { .el_colUnitArea { margin: 0 0 6.4%; }
  .el_colUnitArea > [class*="el_col"]:not(.el_colOne) { width: 100%; float: none; margin: 6.4% 0 0; }
  .el_colUnitArea img { margin: 0 auto; } }
@media screen and (max-width: 1007px) { .el_colUnitArea.el_colSeparate > [class*="el_col"]:not(.el_colOne) { margin-top: 72px; } }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_colUnitArea.el_colSeparate > [class*="el_col"]:not(.el_colOne):nth-child(-n+2) { margin-top: 0; } }
@media screen and (max-width: 647px) { .el_colUnitArea.el_colSeparate > [class*="el_col"]:not(.el_colOne):first-child { margin: 0; } }

/* =========================================================
	◆テキストリンク
========================================================= */
a.el_txtLink, a.el_txtLink_arrow { color: #0b52a4; display: inline-block; }
a.el_txtLink:hover, a.el_txtLink_arrow:hover { text-decoration: underline; }
a.el_txtLink_arrow { padding-right: 16px; position: relative; }
a.el_txtLink_arrow:before { content: ""; width: 7px; height: 7px; border-top: 1px solid #0b52a4; margin-top: -4px; border-right: 1px solid #0b52a4; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); position: absolute; top: 50%; right: 3px; }

/* =========================================================
	◆ボタン
========================================================= */
/* ベーシック */
a.el_btn { font-size: 14px; line-height: 1.2; color: #0b52a4; text-decoration: none; text-align: center; padding: 11px 13px; border: 1px solid #0b52a4; display: inline-block; }
a.el_btn:hover { color: #fff; background: #0b52a4; }
a.el_btn.el_btn_small { font-size: 12px; padding: 7px 10px; }
a.el_btn.el_btn_large { font-size: 16px; padding: 20px 27px; }
a.el_btn.el_btn_fixed { display: block; }
a.el_btn.el_btn_blue { color: #fff; background: #0b52a4; }
a.el_btn.el_btn_blue:hover { color: #0b52a4; background: #fff; }
a.el_btn.el_btn_green { color: #fff; border-color: #23cdd2; background: #23cdd2; }
a.el_btn.el_btn_green:hover { color: #1eafb4; background: #fff; }
a.el_btn.el_btn_whiteLine { color: #fff; border-color: #fff; background: rgba(0, 30, 60, 0.2); }
a.el_btn.el_btn_whiteLine:hover { border-color: #0b52a4; background: #0b52a4; }
a.el_btn.el_btn_white { border-color: #fff; background: #fff; }
a.el_btn.el_btn_white:hover { color: #fff; border-color: #0b52a4; background: #0b52a4; }

@media screen and (max-width: 647px) { a.el_btn, a.el_btn.el_btn_small, a.el_btn.el_btn_large { font-size: 16px; padding: 6.6% 5%; display: block; } }
/* リクエストボタン */
.el_btn_request { width: 100%; }
.el_btn_request a { height: 60px; font-size: 15px; font-weight: bold; line-height: 60px; color: #fff; text-decoration: none; text-align: center; padding-top: 2px; display: block; background: #23cdd2; }
.el_btn_request a::before { content: ""; width: 27px; height: 24px; vertical-align: middle; margin: -2px 6px 0 0; display: inline-block; background: url(../images/icon_request_white.png) 0 0/100% auto no-repeat; }
.el_btn_request a:hover { background: #23dce1; }

.el_documentRequest_area { line-height: 1.5; color: #5a646e; padding: 37px 25px 42px 20px; border-top: 4px solid #23cdd2; border-bottom: 1px solid #23cdd2; }
.el_documentRequest_area::after { content: ""; clear: both; display: block; }
.el_documentRequest_area dl { width: 57%; float: left; }
.el_documentRequest_area dl dt { font-size: 26px; font-family: "a-otf-midashi-go-mb31-pr6n", sans-serif; letter-spacing: -0.3px; margin-bottom: 14px; }
.el_documentRequest_area dl dd { font-size: 16px; }
.el_documentRequest_area .el_btn_request { width: 40%; float: right; margin-top: 8px; }
@media screen and (max-width: 647px) { .el_documentRequest_area { padding: 11.4% 0 14.8%; }
  .el_documentRequest_area dl { width: 100%; float: none; }
  .el_documentRequest_area dl dt { margin-bottom: 4.8%; }
  .el_documentRequest_area .el_btn_request { width: 100%; float: none; margin-top: 9%; } }

.el_requestAreaSmall, .el_requestAreaSmall_type2 { padding: 20px 24px 20px 19px; border-left: 3px solid #23cdd2; background: #f0f2f3; }
.el_requestAreaSmall:after, .el_requestAreaSmall_type2:after { content: ""; clear: both; display: block; }
.el_requestAreaSmall p, .el_requestAreaSmall_type2 p { width: calc(100% - 250px); font-size: 16px; line-height: 1.8; color: #5a646e; float: left; margin-top: 6px; }
.el_requestAreaSmall .el_btn_request, .el_requestAreaSmall_type2 .el_btn_request { width: 30%; min-width: 225px; float: right; }
.el_requestAreaSmall .el_btn_request > a, .el_requestAreaSmall_type2 .el_btn_request > a { height: 40px; line-height: 37px; font-size: 14px; }
.el_requestAreaSmall .el_btn_request > a::before, .el_requestAreaSmall_type2 .el_btn_request > a::before { width: 22px; height: 19px; }
@media screen and (max-width: 647px) { .el_requestAreaSmall, .el_requestAreaSmall_type2 { padding: 12% 7.3%; border-left: none; border-top: 3px solid #23cdd2; }
  .el_requestAreaSmall p, .el_requestAreaSmall_type2 p { width: 100%; float: none; margin: 0 0 10%; }
  .el_requestAreaSmall .el_btn_request, .el_requestAreaSmall_type2 .el_btn_request { width: 100%; float: none; }
  .el_requestAreaSmall .el_btn_request > a, .el_requestAreaSmall_type2 .el_btn_request > a { height: 60px; line-height: 60px; font-size: 16px; } }
.el_requestAreaSmall_type2 { padding: 20px 24px 20px 22px; background: #23cdd2; }
.el_requestAreaSmall_type2 p { color: #fff; }
.el_requestAreaSmall_type2 .el_btn_request a { color: #23cdd2; background: #fff; }
.el_requestAreaSmall_type2 .el_btn_request a::before { background-image: url(/assets/images/icon_request.png); }
@media screen and (max-width: 647px) { .el_requestAreaSmall_type2 { padding: 12% 7.3%; border-left: none; border-top: 3px solid #23cdd2; }
  .el_requestAreaSmall_type2 p { width: 100%; float: none; margin: 0 0 10%; }
  .el_requestAreaSmall_type2 .el_btn_request { width: 100%; float: none; }
  .el_requestAreaSmall_type2 .el_btn_request > a { height: 60px; line-height: 60px; font-size: 16px; } }

/* ダウンロードボタン */
.el_btn_download { width: 100%; }
.el_btn_download a { font-size: 14px; line-height: 1.4; color: #fff; text-decoration: none; text-align: center; padding: 16px 20px; border: 1px solid #0b52a4; display: inline-block; background: #0b52a4; }
.el_btn_download a::before { content: ""; width: 17px; height: 20px; vertical-align: middle; margin: -5px 10px 0 0; display: inline-block; background: url(../images/icon_download_white.png) 0 0/100% auto no-repeat; }
.el_btn_download a:hover { color: #0b52a4; background: #fff; }
.el_btn_download a:hover::before { background-image: url(../images/icon_download.png); }
@media screen and (max-width: 647px) { .el_btn_download a { font-weight: bold; text-align: left; padding: 3% 3% 3% 12%; border-color: #0f82be; border-radius: 3px; background: #0f82be; display: block; position: relative; }
  .el_btn_download a::before { margin-top: -3px; position: absolute; top: 50%; left: 4%; -webkit-transform: translateY(-50%); transform: translateY(-50%); } }

/* =========================================================
	◆リスト
========================================================= */
/* テキストリスト */
.el_listBlock { font-size: 16px; line-height: 2; letter-spacing: 0.5px; color: #5a646e; margin-bottom: calc(48px - (((1.6rem * 2) - 1.6rem) / 2)); }
.el_listBlock ul, .el_listBlock ol { list-style: none; }
.el_listBlock ul li, .el_listBlock ol li { word-wrap: break-word; margin-top: 17px; position: relative; }
.el_listBlock ul li:first-child, .el_listBlock ol li:first-child { margin-top: 0; }
.el_listBlock ul li > ul, .el_listBlock ul li > ol, .el_listBlock ol li > ul, .el_listBlock ol li > ol { margin-top: 17px; }
.el_listBlock ul.el_ulList_discSmall li { margin-top: 10px; padding-left: 1.2em; position: relative; }
.el_listBlock ul.el_ulList_discSmall li:before { content: "・"; width: 1em; position: absolute; top: 0; left: 0; }
.el_listBlock ul.el_ulList_discBlue li { padding-left: 36px; }
.el_listBlock ul.el_ulList_discBlue li::before { content: ""; width: 6px; height: 6px; border-radius: 50%; background: #2e5e7c; position: absolute; top: 12px; left: 0; }
.el_listBlock ol.el_olList_type1 { counter-reset: section; }
.el_listBlock ol.el_olList_type1 li { padding-left: 36px; }
.el_listBlock ol.el_olList_type1 li:before { counter-increment: section; content: counters(section,"-") "."; font-weight: bold; position: absolute; left: 0; }
.el_listBlock ol.el_olList_type1 li > ol { counter-reset: section; }
.el_listBlock ol.el_olList_type1 li > ol li { padding-left: 60px; }
.el_listBlock dl.el_dlList dt { margin-top: calc(48px - (((1.6rem * 2) - 1.6rem) / 2)); }
.el_listBlock dl.el_dlList dt:first-child { margin-top: 0; }

/* アコーディオンリスト */
.el_accordionList_type1 dl { border-top: 3px solid #dce6f0; border-bottom: 1px solid #dce6f0; }
.el_accordionList_type1 dl dt { font-size: 16px; line-height: 1.35; color: #0b52a4; padding: 23px 35px 20px 13px; border-top: 1px solid #dce6f0; position: relative; cursor: pointer; -webkit-transition: all .3s; transition: all .3s; }
.el_accordionList_type1 dl dt::after { content: ""; width: 17px; height: 17px; margin: auto; position: absolute; right: 15px; top: 0; bottom: 0; background: url(../images/icon_accordion_open.png) 0 0/100% auto no-repeat; }
.el_accordionList_type1 dl dt:first-child { border-top: none; }
.el_accordionList_type1 dl dt:hover { background: #f0f2f3; }
.el_accordionList_type1 dl dt.is_accordion_open::after { background-image: url(../images/icon_accordion_close.png); }
.el_accordionList_type1 dl dd { font-size: 16px; line-height: 2; color: #5a646e; padding: 15px 10px 37px; display: none; }
.el_accordionList_type1 dl dd p { margin-top: 1.5em; }
.el_accordionList_type1 dl dd p:first-child { margin-top: 0; }
@media screen and (max-width: 647px) { .el_accordionList_type1 dl dt { padding: 7% 10% 5.6% 4%; }
  .el_accordionList_type1 dl dt::after { right: 3%; }
  .el_accordionList_type1 dl dd { padding: 5% 3.5% 11.5%; } }

/* アンカーリスト */
[class^="el_anchorList_type"] ul li a, [class^="el_anchorList_type"] label { font-size: 16px; line-height: 1.8; color: #0b52a4; text-decoration: none; }
[class^="el_anchorList_type"] label, [class^="el_anchorList_type"] select { display: none; }

/* アンカーリスト-type1 */
.el_anchorList_type1 { padding: 0 12px 12px; border: 1px solid #dce6f0; }
.el_anchorList_type1 ul { font-size: 0; margin-right: -34px; }
.el_anchorList_type1 ul li { margin: 15px 34px 0 0; display: inline-block; }
.el_anchorList_type1 ul li a::after { content: "↓"; margin-left: 10px; display: inline-block; }
.el_anchorList_type1 ul li a:hover { border-bottom: 1px solid #0b52a4; }

/* アンカーリスト-type2 */
.el_anchorList_type2 ul li { border-top: 1px solid #dce6f0; }
.el_anchorList_type2 ul li:last-child { border-bottom: 1px solid #dce6f0; }
.el_anchorList_type2 ul li a { padding: 23px 35px 20px 13px; display: block; position: relative; }
.el_anchorList_type2 ul li a::after { content: "↓"; margin-left: 5px; position: absolute; right: 15px; }
.el_anchorList_type2 ul li a:hover { background: #f0f2f3; }

/* アンカー */
a.el_anchorUp::after { content: "↑"; margin-left: 10px; display: inline-block; }
a.el_anchorDown::after { content: "↓"; margin-left: 10px; display: inline-block; }

@media screen and (max-width: 647px) { /* アンカーリスト */
  [class^="el_anchorList_type"] { position: relative; }
  [class^="el_anchorList_type"] ul { display: none; }
  [class^="el_anchorList_type"] label, [class^="el_anchorList_type"] select { display: block; }
  [class^="el_anchorList_type"] label { padding: 3% 10% 3% 5%; pointer-events: none; position: relative; z-index: 10; background: #fff; }
  [class^="el_anchorList_type"] label::after { content: "↓"; height: 16px; line-height: 1; margin: auto; position: absolute; right: 3%; top: 0; bottom: 0; }
  [class^="el_anchorList_type"] select { width: 100%; height: 100%; position: absolute; top: 0; }
  .el_anchorList_type1 { padding: 0; }
  .el_anchorList_type2 { border: 1px solid #dce6f0; } }
.el_serviceList_area { padding: 42px 24px 44px; background: #f0f2f3; }
.el_serviceList_area dl dt { font-size: 20px; font-weight: bold; line-height: 1.65; color: #323c46; margin-bottom: 18px; }
.el_serviceList_area dl dd { margin-bottom: 11px; }
.el_serviceList_area dl dd:last-child { margin-bottom: 0; }
.el_serviceList_area dl dd a { font-size: 14px; color: #0b52a4; text-decoration: none; }
@media screen and (max-width: 647px) { .el_serviceList_area { padding: 13.2% 7%; }
  .el_serviceList_area dl dt { margin-bottom: 6.2%; }
  .el_serviceList_area dl dd { margin-bottom: 3.6%; } }

/* =========================================================
	◆モーダルウィンドウ
========================================================= */
body.is_colorbox_open { overflow: hidden; }

.el_modalBlock_wrap { display: none; }

.el_modalBlock_area { width: 850px; position: relative; }
.el_modalBlock_area::after { content: ""; clear: both; display: block; }
.el_modalBlock_area .el_imgBlock { width: 31%; float: left; }
.el_modalBlock_area .el_headBlock { width: 66%; float: right; }
.el_modalBlock_area .el_headBlock .it_subTxt { font-size: 12px; font-weight: bold; margin-bottom: calc(18px - (((1.6rem * 1.4) - 1.6rem) / 2)); }
.el_modalBlock_area .el_headBlock .el_modalTtl_level1 { font-size: 28px; color: #001e3c; }
.el_modalBlock_area .el_headBlock .el_modalTtl_level1 span { font-size: 16px; color: #5a646e; }
.el_modalBlock_area .el_bodyBlock { width: 66%; height: 450px; float: right; margin-top: calc(56px - (((1.6rem * 2) - 1.6rem) / 2)); overflow: hidden; position: relative; }
.el_modalBlock_area .el_bodyBlock .jspHorizontalBar .jspTrack > .jspDrag { background: #fff !important; }
.el_modalBlock_area .el_bodyBlock .jspContainer .jspPane { overflow-x: hidden; left: 0 !important; }
.el_modalBlock_area .el_bodyBlock .el_txtBlock { font-size: 16px; line-height: 2; color: #5a646e; padding-right: 30px; }
.el_modalBlock_area .el_bodyBlock .el_txtBlock .el_modalTtl_level2 { font-weight: bold; }
.el_modalBlock_area .el_bodyBlock .el_txtBlock p { margin-bottom: calc(43px - (((1.6rem * 2) - 1.6rem) / 2)); }
.el_modalBlock_area .el_bodyBlock .el_txtBlock p:last-child { margin-bottom: 0; }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_modalBlock_area { width: 90%; margin: 0 auto; } }
@media screen and (max-width: 647px) { .el_modalBlock_area { width: 87.2%; max-width: 540px; padding: 0; margin: 7% auto; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; align-items: center; }
  .el_modalBlock_area .el_imgBlock { width: 33%; float: none; margin-right: 4%; }
  .el_modalBlock_area .el_headBlock { width: 63%; float: none; }
  .el_modalBlock_area .el_headBlock .el_modalTtl_level1 span { display: block; }
  .el_modalBlock_area .el_bodyBlock { width: 100%; height: auto; float: none; margin-top: calc(42px - (((1.6rem * 2) - 1.6rem) / 2)); padding-right: 0; clear: both; overflow: auto !important; }
  .el_modalBlock_area .el_bodyBlock .el_txtBlock { padding-right: 0; } }

/* =========================================================
	◆タブ
========================================================= */
.el_tab_area .el_tabMenu { position: relative; bottom: -1px; }
.el_tab_area .el_tabMenu ul { display: table; }
.el_tab_area .el_tabMenu ul li { font-size: 14px; line-height: 2; color: #0b52a4; text-align: center; vertical-align: middle; padding: 5px 12px; border-width: 1px; border-style: solid; border-color: #fff #fff #dce6f0; display: table-cell; background: #fff; -webkit-transition: all .3s; transition: all .3s; }
.el_tab_area .el_tabMenu ul li:hover { background: #f0f2f3; cursor: pointer; }
.el_tab_area .el_tabMenu ul li.is_tabActive { font-weight: bold; color: #323c46; border-color: #dce6f0 #dce6f0 #fff; background: #fff; cursor: default; }
.el_tab_area .el_tabCont { padding: 40px 0 50px; border-top: 1px solid #dce6f0; border-bottom: 1px solid #dce6f0; }
.el_tab_area .el_tabCont .el_tabBox { display: none; }
.el_tab_area .el_tabCont .el_tabBox.is_tabActive { display: block; }
.el_tab_area .el_tabCont .el_tabBox .el_txtBlock { font-size: 16px; line-height: 2; color: #5a646e; }
.el_tab_area .el_tabCont .el_tabBox .el_txtBlock p { margin-top: 1.5em; }
.el_tab_area .el_tabCont .el_tabBox .el_txtBlock p:first-child { margin-top: 0; }
@media screen and (max-width: 1007px) { .el_tab_area .el_tabMenu { overflow-x: auto; }
  .el_tab_area .el_tabMenu ul { width: auto; }
  .el_tab_area .el_tabMenu ul li { white-space: nowrap; } }
@media screen and (max-width: 647px) { .el_tab_area .el_tabMenu ul li { font-size: 16px; padding: 2.2% 3.2% 1.5%; }
  .el_tab_area .el_tabCont { padding: 12.4% 0 11.2%; } }

/* =========================================================
	◆ロゴ＋テキスト＋画像　カラムボックス
========================================================= */
.el_logoColBox { width: 100%; }
.el_logoColBox .el_txtBlock { font-size: 16px; line-height: 2; }
.el_logoColBox .el_txtBlock dl dt { margin-bottom: 20px; }
.el_logoColBox .el_txtBlock dl dt img { display: inline-block; vertical-align: text-top; }
.el_logoColBox .el_txtBlock dl dt .el_logoRuby { font-size: 12px; font-weight: bold; letter-spacing: -0.5px; }
.el_logoColBox .el_txtBlock dl dd { color: #5a646e; }
.el_logoColBox[class*="el_col2_"]::after { content: ""; clear: both; display: block; }
.el_logoColBox[class*="el_col2_"] .el_txtBlock { float: left; }
.el_logoColBox[class*="el_col2_"] .el_imgBlock { float: right; }
.el_logoColBox.el_col2_half .el_txtBlock { width: 48.5%; }
.el_logoColBox.el_col2_half .el_imgBlock { width: 47.75%; }
.el_logoColBox.el_col2_third .el_txtBlock { width: 65.625%; }
.el_logoColBox.el_col2_third .el_imgBlock { width: 31.875%; }
.el_logoColBox.el_col2_quarter .el_txtBlock { width: 75%; }
.el_logoColBox.el_col2_quarter .el_imgBlock { width: 22.75%; }
@media screen and (max-width: 647px) { .el_logoColBox .el_txtBlock dl dt img, .el_logoColBox .el_txtBlock dl dt .el_logoRuby { display: block; }
  .el_logoColBox .el_txtBlock dl dt .el_logoRuby { margin-top: 3px; }
  .el_logoColBox[class*="el_col2_"] .el_txtBlock, .el_logoColBox[class*="el_col2_"] .el_imgBlock { float: none; }
  .el_logoColBox[class*="el_col2_"] .el_imgBlock { margin-top: 20px; }
  .el_logoColBox[class*="el_col2_"] .el_imgBlock img { margin: auto; }
  .el_logoColBox.el_col2_half .el_txtBlock, .el_logoColBox.el_col2_half .el_imgBlock, .el_logoColBox.el_col2_third .el_txtBlock, .el_logoColBox.el_col2_third .el_imgBlock, .el_logoColBox.el_col2_quarter .el_txtBlock, .el_logoColBox.el_col2_quarter .el_imgBlock { width: 100%; } }

/* =========================================================
	◆パネル型 4カラム
========================================================= */
/* 3カラム・4カラム共通スタイル */
.el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock, .el_panelUnit.el_col4_type1 .el_panelUnit_inner .el_panelBlock { background: #f0f2f3; }
.el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock:empty, .el_panelUnit.el_col4_type1 .el_panelUnit_inner .el_panelBlock:empty { background: transparent; }
.el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock, .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock { border-right: 1px solid #dce6f0; border-top: 1px solid #dce6f0; }
@media screen and (min-width: 1008px) { .el_panelUnit { display: table; }
  .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner, .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner { display: table-row; }
  .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock, .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock { display: table-cell; }
  .el_panelUnit.el_col3_type1, .el_panelUnit.el_col4_type1 { margin: -24px; border-spacing: 24px; }
  .el_panelUnit.el_col3_type2, .el_panelUnit.el_col4_type2 { border-collapse: collapse; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner:first-child .el_panelBlock, .el_panelUnit.el_col4_type2 .el_panelUnit_inner:first-child .el_panelBlock { border-top: none; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock:last-child, .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock:last-child { border-right: none; } }
@media screen and (max-width: 1007px) { .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner, .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; } }

/* 4カラム */
.el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dt { color: #323c46; text-align: center; }
.el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dt span { font-size: 16px; font-weight: bold; line-height: 1.8; }
.el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dt img { margin: 0 auto; }
.el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dd { font-size: 12px; line-height: 1.8; color: #5a646e; }
@media screen and (min-width: 648px) { .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock { width: 200px; }
  .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dt img { margin-top: 6px; }
  .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dd { margin-top: 20px; }
  .el_panelUnit.el_col4_type1 .el_panelUnit_inner .el_panelBlock dl { padding: 30px 10px; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock dl { padding: 30px 25px; } }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_panelUnit.el_col4_type1 { margin: -12px; }
  .el_panelUnit.el_col4_type1 .el_panelUnit_inner .el_panelBlock { width: calc(50% - 24px); margin: 12px; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner:first-child .el_panelBlock:nth-child(-n+2) { border-top: none; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock { width: 50%; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock:nth-child(2n) { border-right: none; } }
@media screen and (max-width: 647px) { .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dt img { margin-top: 3%; }
  .el_panelUnit[class*="el_col4_type"] .el_panelUnit_inner .el_panelBlock dl dd { margin-top: 15%; }
  .el_panelUnit.el_col4_type1 { margin: -1.5%; }
  .el_panelUnit.el_col4_type1 .el_panelUnit_inner .el_panelBlock { width: 47%; margin: 1.5%; }
  .el_panelUnit.el_col4_type1 .el_panelUnit_inner .el_panelBlock dl { padding: 20% 8%; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner:first-child .el_panelBlock:nth-child(-n+2) { border-top: none; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock { width: 50%; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock:nth-child(2n) { border-right: none; }
  .el_panelUnit.el_col4_type2 .el_panelUnit_inner .el_panelBlock dl { padding: 18% 7%; } }

/* 3カラム */
.el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dt { font-size: 16px; line-height: 1.5; color: #323c46; }
.el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dt span { font-size: 12px; font-weight: bold; display: block; }
.el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dd { font-size: 14px; line-height: 2; color: #5a646e; }
@media screen and (min-width: 648px) { .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock { width: 266.66667px; }
  .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dt img { margin-bottom: 10px; }
  .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dd { margin-top: 22px; }
  .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock dl { padding: 37px 25px 27px; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock dl { padding: 36px 23px 25px; } }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock { width: calc(50% - 12px); margin: 24px 24px 0 0; }
  .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock:nth-child(2n) { margin-right: 0; }
  .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock:nth-child(-n+2) { margin-top: 0; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock { width: 50%; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock:nth-child(-n+2) { border-top: none; } }
@media screen and (max-width: 647px) { .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dt img { margin-bottom: 3%; }
  .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dt span { margin-bottom: 1.8%; }
  .el_panelUnit[class*="el_col3_type"] .el_panelUnit_inner .el_panelBlock dl dd { margin-top: 6.6%; }
  .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock { width: 100%; margin-bottom: 7%; }
  .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock:last-child { margin-bottom: 0; }
  .el_panelUnit.el_col3_type1 .el_panelUnit_inner .el_panelBlock dl { padding: 11.4% 7.4% 8.2%; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock { width: 100%; border-right: none; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock:first-child { border-top: none; }
  .el_panelUnit.el_col3_type2 .el_panelUnit_inner .el_panelBlock dl { padding: 11.6% 0; } }

/* =========================================================
	◆ボックス-リスト
========================================================= */
.el_boxList { padding: 0 23px; background: #f0f2f3; }
.el_boxList dl dt { padding: 15px 0; border-bottom: 1px solid #dce6f0; }
.el_boxList dl dt a { font-size: 20px; font-weight: bold; line-height: 1.65; color: #0b52a4; padding-right: 25px; display: inline-block; position: relative; }
.el_boxList dl dt a::after { content: ""; width: 9px; height: 9px; border-top: 2px solid #0b52a4; border-right: 2px solid #0b52a4; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); margin: auto; position: absolute; top: 0; bottom: 0; right: 0; }
.el_boxList dl dt span { font-size: 12px; font-weight: bold; line-height: 1.8; margin-top: 10px; float: right; display: block; }
.el_boxList dl dd { font-size: 14px; line-height: 2; color: #5a646e; padding: 20px 0 36px; }
.el_boxList dl dd::after { content: ""; clear: both; display: block; }
@media screen and (min-width: 648px) { .el_boxList dl dd .el_txtBlock { width: calc(100% - 200px); float: left; }
  .el_boxList dl dd .el_imgBlock { width: 180px; margin-left: 20px; float: right; } }
@media screen and (max-width: 647px) { .el_boxList { padding: 0 7%; }
  .el_boxList dl dt { padding: 5.8% 0; }
  .el_boxList dl dt span { margin-top: 0; float: none; }
  .el_boxList dl dd { padding: 6.8% 0 11.2%; }
  .el_boxList dl dd .el_txtBlock, .el_boxList dl dd .el_imgBlock { width: 100%; }
  .el_boxList dl dd .el_imgBlock { margin-top: 9%; } }

/* =========================================================
	◆ボックス-数字
========================================================= */
.el_boxValue .el_valueUnit_col2 { padding: 26px 0 33px; background: #f0f2f3; position: relative; }
.el_boxValue .el_valueUnit_col2::before { content: ""; width: 0; height: 0; border-style: solid; border-width: 15px 15px 0 15px; border-color: #f0f2f3 transparent transparent transparent; margin: auto; position: absolute; left: 0; right: 0; bottom: -15px; }
.el_boxValue .el_valueUnit_col2::after { content: ""; clear: both; display: block; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock { width: 50%; float: left; padding: 14px 0; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock:first-child { border-right: 1px solid #dce6f0; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock .el_valueIcon { width: 14%; max-width: 50px; margin-right: 10px; display: inline-block; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock .el_valueIcon > img { margin-left: auto; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock ul, .el_boxValue .el_valueUnit_col2 .el_valueBlock dl { max-width: 88%; display: inline-block; position: relative; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.el_boxValue .el_valueUnit_col2 .el_valueBlock dl { font-family: "a-otf-midashi-go-mb31-pr6n", sans-serif; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock dl dt .el_valueSubTtl { font-size: 16px; font-weight: bold; line-height: 2.5; vertical-align: top; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock dl dd { font-size: 16px; color: #0b52a4; vertical-align: bottom; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock dl dd span { font: italic 70px / 1 "futura-pt", sans-serif; letter-spacing: 1px; margin-right: 5px; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock ul li { font-size: 16px; line-height: 2; color: #5a646e; padding-left: 16%; position: relative; }
.el_boxValue .el_valueUnit_col2 .el_valueBlock ul li .el_valueIcon { position: absolute; top: 50%; left: 0; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.el_boxValue .el_valueTxtBlock { font-size: 24px; font-family: "a-otf-midashi-go-mb31-pr6n", sans-serif; line-height: 1.25; color: #fff; text-align: center; padding: 37px 0; background: #0b52a4; }
@media screen and (max-width: 647px) { .el_boxValue .el_valueUnit_col2 { padding: 0 0 3.4%; }
  .el_boxValue .el_valueUnit_col2::before { border-width: 12px 12px 0 12px; bottom: -12px; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock { width: 100%; float: none; padding: 9% 0 3.4%; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock:first-child { border-right: none; border-bottom: 1px solid #dce6f0; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock .el_valueIcon { vertical-align: bottom; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock ul, .el_boxValue .el_valueUnit_col2 .el_valueBlock dl { max-width: none; width: 88%; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock dl { display: block; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock dl dd { padding-left: 14%; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock dl dd span { font-size: 66px; }
  .el_boxValue .el_valueUnit_col2 .el_valueBlock ul li { padding-left: 19.5%; }
  .el_boxValue .el_valueTxtBlock { padding: 9.2% 8% 5.8%; } }

/* =========================================================
	◆ボックス-テーブル-2カラム
========================================================= */
.el_colUnit .el_txtBlock dl dt { font-size: 16px; font-weight: bold; }
.el_colUnit .el_txtBlock dl dt:first-child { margin-top: 0 !important; }
.el_colUnit .el_txtBlock dl dd { font-size: 14px; line-height: 2; color: #5a646e; letter-spacing: 0.5px; }
.el_colUnit.el_col2_type1 { width: 100%; display: table; }
.el_colUnit.el_col2_type1 .el_colUnit_inner { display: table-row; }
.el_colUnit.el_col2_type1 .el_colUnit_inner:nth-child(even) .el_colHead { background: #001e3c; }
.el_colUnit.el_col2_type1 .el_colUnit_inner:first-child .el_colBody { border-top: none; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead, .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody { display: table-cell; vertical-align: top; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead { width: 31.3%; color: #fff; text-align: center; padding: 54px 0; background: #002855; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colTtl { font-size: 26px; font-family: "futura-pt", sans-serif; line-height: 1.4; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colInfo { font-size: 14px; line-height: 1.7; margin-top: 30px; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colIcon { width: 56px; margin: 38px auto 0; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody { padding: 57px 35px 33px; background: #f0f2f3; border-top: 1px solid #dce6f0; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody a { font-size: 16px; color: #0b52a4; padding-right: 15px; display: inline-block; position: relative; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody a::after { content: ""; width: 9px; height: 9px; border-top: 1px solid #0b52a4; border-right: 1px solid #0b52a4; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); margin: auto; position: absolute; top: 0; bottom: 0; right: 0; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody .el_txtBlock dl dt { margin-top: 34px; }
.el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody .el_txtBlock dl dd { margin-top: 14px; }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_colUnit.el_col2_type1 { display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner { display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead, .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody { display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead { width: 100%; text-align: left; padding: 24px; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead::after { content: ""; clear: both; display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colInfo { width: 60%; line-height: 1.7; float: left; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colIcon { margin: 0; float: right; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody { padding: 50px 35px; border-top: none; } }
@media screen and (max-width: 647px) { .el_colUnit.el_col2_type1 { display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner { display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead, .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody { display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead { width: 100%; text-align: left; padding: 5.4% 8.2% 8.6%; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead::after { content: ""; clear: both; display: block; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colInfo { width: 60%; line-height: 1.7; margin-top: 3.6%; float: left; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colHead .el_colIcon { margin: 0; float: right; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody { padding: 14.4% 7% 15.5%; border-top: none; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody .el_txtBlock dl dt { margin-top: 13%; }
  .el_colUnit.el_col2_type1 .el_colUnit_inner .el_colBody .el_txtBlock dl dd { margin-top: 5%; } }
.el_colUnit.el_col2_type2 .el_colUnit_inner { margin: 0 -24px; border-spacing: 24px 0; display: table; }
.el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock { width: 50%; background: #f0f2f3; display: table-cell; }
.el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_colTtl { width: 100%; font-size: 16px; font-weight: bold; color: #fff; text-align: center; padding: 19px 0; background: #0b52a4; }
.el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_txtBlock { padding: 45px 20px; }
.el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_txtBlock dl dt { margin-top: 37px; }
.el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_txtBlock dl dd { margin-top: 18px; }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_colUnit.el_col2_type2 .el_colUnit_inner { margin: 0; border-spacing: 0; display: block; }
  .el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock { width: 100%; margin-bottom: 24px; display: block; } }
@media screen and (max-width: 647px) { .el_colUnit.el_col2_type2 .el_colUnit_inner { margin: 0; border-spacing: 0; display: block; }
  .el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock { width: 100%; margin-bottom: 10.4%; display: block; }
  .el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_colTtl { padding: 5.8% 0; }
  .el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_txtBlock { padding: 13% 7.2% 15%; }
  .el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_txtBlock dl dt { margin-top: 16.8%; }
  .el_colUnit.el_col2_type2 .el_colUnit_inner .el_colBlock .el_txtBlock dl dd { margin-top: 6.8%; } }

/* =========================================================
	◆ボックス-バナー
========================================================= */
.el_bnrBlock a { color: #0b52a4; text-decoration: none; padding: 28px 33px; border: 1px solid #0b52a4; display: table; position: relative; }
.el_bnrBlock a:hover { opacity: .6; }
.el_bnrBlock .el_imgBlock, .el_bnrBlock .el_txtBlock { vertical-align: middle; display: table-cell; }
.el_bnrBlock .el_imgBlock { width: 30%; }
.el_bnrBlock .el_imgBlock img { margin: auto; }
.el_bnrBlock .el_txtBlock { font-size: 20px; line-height: 1.5; padding-left: 25px; }
.el_bnrBlock .el_txtBlock::after { content: ""; width: 9px; height: 9px; border-top: 2px solid #0b52a4; border-right: 2px solid #0b52a4; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); margin: auto; position: absolute; top: 0; bottom: 0; right: 25px; }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_bnrBlock a, .el_bnrBlock .el_imgBlock, .el_bnrBlock .el_txtBlock { display: block; }
  .el_bnrBlock .el_imgBlock { width: 100%; margin-bottom: 30px; }
  .el_bnrBlock .el_txtBlock { text-align: center; padding-left: 0; }
  .el_bnrBlock .el_txtBlock::after { margin-left: 2%; display: inline-block; position: static; } }
@media screen and (max-width: 647px) { .el_bnrBlock a { padding: 10% 7%; display: block; }
  .el_bnrBlock .el_imgBlock, .el_bnrBlock .el_txtBlock { display: block; }
  .el_bnrBlock .el_imgBlock { width: 100%; margin-bottom: 11.8%; }
  .el_bnrBlock .el_txtBlock { padding-left: 0; }
  .el_bnrBlock .el_txtBlock::after { margin-left: 2%; display: inline-block; position: static; } }

/* =========================================================
	◆テーブル
========================================================= */
.el_tableBlock table { width: 100%; }
.el_tableBlock table thead tr { color: #fff; background: #004283; }
.el_tableBlock table thead tr:first-child th:first-child { background: #00489e; }
.el_tableBlock table thead tr th { font-size: 16px; font-weight: bold; line-height: 1.35; vertical-align: middle; padding: 20px 20px; }
.el_tableBlock table tbody tr { background: #f0f2f3; }
.el_tableBlock table tbody tr:nth-child(2n) { background: #e4e6e7; }
.el_tableBlock table tbody tr th, .el_tableBlock table tbody tr td { line-height: 2; padding: 13px 20px; }
.el_tableBlock table tbody tr th { font-size: 16px; font-weight: bold; vertical-align: top; }
.el_tableBlock table tbody tr td { font-size: 14px; color: #5a646e; }
.el_tableBlock table .el_txtCap { text-align: left; caption-side: bottom; }
@media screen and (max-width: 1007px) { .el_tableBlock { overflow-x: auto; }
  .el_tableBlock table { width: 800px; } }
.el_tableBlock.el_tableType_price table tbody tr th { width: 18.75%; }
.el_tableBlock.el_tableType_price table tfoot tr { border-top: 3px solid #ec5514; border-bottom: 3px solid #ec5514; }
.el_tableBlock.el_tableType_price table tfoot tr th, .el_tableBlock.el_tableType_price table tfoot tr td { font-size: 16px; line-height: 1.35; color: #ec5514; vertical-align: middle; padding: 10px 20px; }
.el_tableBlock.el_tableType_price table tfoot tr th { font-weight: bold; }
.el_tableBlock.el_tableType_price table tfoot tr td span { font-size: 36px; font-style: italic; font-family: "futura-pt", sans-serif; }
.el_tableBlock.el_tableType_double table thead tr th { padding: 20px 20px 0; }
.el_tableBlock.el_tableType_double table thead tr td { padding: 15px 5px; text-align: center; }
.el_tableBlock.el_tableType_double table tbody tr th, .el_tableBlock.el_tableType_double table tbody tr td { padding: 14px 5px; }
.el_tableBlock.el_tableType_double table tbody tr th { width: 17.5%; vertical-align: middle; padding-left: 26px; }
.el_tableBlock.el_tableType_normal table { width: auto; }
.el_tableBlock.el_tableType_normal table thead tr th { padding: 22px; }
.el_tableBlock.el_tableType_normal table tbody tr th, .el_tableBlock.el_tableType_normal table tbody tr td { vertical-align: middle; padding: 14px 5px; }
.el_tableBlock.el_tableType_normal table tbody tr th { width: 140px; padding-left: 26px; }
.el_tableBlock.el_tableType_normal table tbody tr td { text-align: center; }
@media screen and (max-width: 647px) { .el_tableBlock.el_tableType_normal table tr th, .el_tableBlock.el_tableType_normal table tr td { min-width: 140px; } }
.el_tableBlock.el_tableType_paragraph table thead tr th { padding: 20px 24px; }
.el_tableBlock.el_tableType_paragraph table tbody tr th, .el_tableBlock.el_tableType_paragraph table tbody tr td { color: #5a646e; padding: 14px 25px 18px; }
.el_tableBlock.el_tableType_paragraph table tbody tr th { width: 34.25%; font-size: 14px; font-weight: normal; }
.el_tableBlock.el_tableType_paragraph table tbody tr td dl dt { font-size: 16px; font-weight: bold; color: #0b52a4; margin-bottom: 7px; }
.el_tableBlock.el_tableType_list table tbody tr th, .el_tableBlock.el_tableType_list table tbody tr td { width: 50%; color: #5a646e; padding: 16px; }
.el_tableBlock.el_tableType_list table tbody tr th { font-size: 14px; font-weight: normal; padding-left: 24px; }
.el_tableBlock.el_tableType_max table { table-layout: fixed; }
.el_tableBlock.el_tableType_max table th, .el_tableBlock.el_tableType_max table td { text-align: center; vertical-align: top; }
.el_tableBlock.el_tableType_max table thead tr:first-child th { padding-top: 29px; }
.el_tableBlock.el_tableType_max table thead tr:last-child th { padding-bottom: 19px; }
.el_tableBlock.el_tableType_max table thead tr th { font-weight: normal; padding: 9px 10px; }
.el_tableBlock.el_tableType_max table thead tr th:nth-child(odd) { background: #00489e; }
.el_tableBlock.el_tableType_max table thead tr th span { font-size: 14px; }
.el_tableBlock.el_tableType_max table thead tr.it_maxPrice th { font-size: 12px; }
.el_tableBlock.el_tableType_max table thead tr.it_maxLink th { font-size: 14px; }
.el_tableBlock.el_tableType_max table thead tr.it_maxLink th a { color: #fff; padding-right: 15px; position: relative; }
.el_tableBlock.el_tableType_max table thead tr.it_maxLink th a::after { content: ""; width: 10px; height: 10px; border-top: 2px solid #fff; margin: auto; border-right: 2px solid #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; top: 0; bottom: 0; right: 0; }
.el_tableBlock.el_tableType_max table tbody tr { background: #f0f2f3; }
.el_tableBlock.el_tableType_max table tbody tr:nth-child(2n) { background: #f0f2f3; }
.el_tableBlock.el_tableType_max table tbody tr:first-child td { padding-top: 31px; }
.el_tableBlock.el_tableType_max table tbody tr:last-child td { padding-bottom: 38px; }
.el_tableBlock.el_tableType_max table tbody tr td { font-size: 12px; line-height: 1.75; padding: 13px 20px; }
.el_tableBlock.el_tableType_max table tbody tr td:nth-child(2n) { background: #e4e6e7; }
.el_tableBlock.el_tableType_max table tbody tr td p { margin-bottom: 5px; }
.el_tableBlock.el_tableType_max table tbody tr td p:last-child { margin-bottom: 0; }
.el_tableBlock.el_tableType_max table tbody tr td p.it_maxAttention { color: #ec5514; }

/* =========================================================
	◆関連コンテンツ
========================================================= */
.el_relatedConts_area { background: #001e3c; padding: 50px 0 62px; position: relative; z-index: 10; }
.el_relatedConts_area .el_relatedConts_ttl { font-size: 22px; color: #fff; text-align: center; margin-bottom: 45px; }
.el_relatedConts_area ul { width: 100%; max-width: 1188px; padding: 0 24px; margin: 0 auto; }
.el_relatedConts_area ul::after { content: ""; clear: both; display: block; }
.el_relatedConts_area ul li { width: calc(33.333% - 16px); float: left; margin-right: 24px; -webkit-transition: all .3s; transition: all .3s; }
.el_relatedConts_area ul li:nth-of-type(3n) { margin: 0; }
@media screen and (min-width: 648px) and (max-width: 1007px) { .el_relatedConts_area ul { width: 100%; max-width: 848px; padding: 0 24px; } }
@media screen and (max-width: 647px) { .el_relatedConts_area { padding: 16% 0; }
  .el_relatedConts_area .el_relatedConts_ttl { margin-bottom: 9.2%; }
  .el_relatedConts_area ul { width: 87.2%; max-width: 540px; padding: 0; }
  .el_relatedConts_area ul li { width: 100%; float: none; margin: 0 0 7.4% 0; } }

/* =========================================================
	◆カテゴリーアイコン・タグ
========================================================= */
.el_date { color: #6e6e7d; }
.el_category { margin: 0 8px; padding: 3px 10px; border-radius: 30px; color: #fff; font-size: 10px; }
.el_publicity { background-color: #5cc1eb; }
.el_info { background-color: #6486aa; }
.el_release { background-color: #125fb0; }
.el_sub_category { font-size: 10px; color: #6e6e7d; }

/* =========================================================
	◆ヘルパー
========================================================= */
/* マージン */
.hp_mgn0 { margin: 0 !important; }
.hp_mgnSS { margin: 15px 0 !important; }
.hp_mgnS { margin: 30px 0 !important; }
.hp_mgnM { margin: 48px 0 !important; }
.hp_mgnL { margin: 72px 0 !important; }
.hp_mgnLL { margin: 100px 0 !important; }
.hp_mgnTop0 { margin-top: 0 !important; }
.hp_mgnTopSS { margin-top: 15px !important; }
.hp_mgnTopS { margin-top: 30px !important; }
.hp_mgnTopM { margin-top: 48px !important; }
.hp_mgnTopL { margin-top: 72px !important; }
.hp_mgnTopLL { margin-top: 100px !important; }
.hp_mgnBtm0 { margin-bottom: 0 !important; }
.hp_mgnBtmSS { margin-bottom: 15px !important; }
.hp_mgnBtmS { margin-bottom: 30px !important; }
.hp_mgnBtmM { margin-bottom: 48px !important; }
.hp_mgnBtmL { margin-bottom: 72px !important; }
.hp_mgnBtmLL { margin-bottom: 100px !important; }
.hp_mgnAutoR { margin: 0 auto 0 0 !important; }
.hp_mgnAutoL { margin: 0 0 0 auto !important; }
.hp_mgnAuto0 { margin: 0 auto !important; }

/* 文字位置 */
.hp_txtAlnL { text-align: left !important; }
.hp_txtAlnR { text-align: right !important; }
.hp_txtAlnC { text-align: center !important; }

/* 文字装飾 */
.hp_txtRed { color: #ec5514 !important; }
.hp_txtBlue { color: #0b52a4 !important; }
.hp_txtGreen { color: #23cdd2 !important; }
.hp_txtLightGray { color: #8c96a0 !important; }
.hp_txtGray { color: #5a646e !important; }
.hp_txtBold { font-weight: bold !important; }
.hp_txtFzS { font-size: 14px !important; }

/* 背景色 */
.hp_boxBgGray { padding: 40px 24px; background: #f0f2f3; }
@media screen and (max-width: 647px) { .hp_boxBgGray { padding: 8% 6.4%; } }

/* デバイス表示切り替え */
.hp_tbBlock, .hp_tbInline, .hp_spBlock, .hp_spInline { display: none !important; }

.hp_pcBlock { display: block !important; }

.hp_pcInline { display: inline-block !important; }

@media screen and (max-width: 1007px) { .hp_pcBlock, .hp_pcInline { display: none !important; } }
@media screen and (min-width: 648px) and (max-width: 1007px) { .hp_tbBlock { display: block !important; }
  .hp_tbInline { display: inline-block !important; } }
@media screen and (max-width: 647px) { .hp_spBlock { display: block !important; }
  .hp_spInline { display: inline-block !important; } }

/* Edge */
_:-ms-lang(x), .el_category{
  padding: 3px 10px 1px 10px;
}

/* IE10+ */
@media all and (-ms-high-contrast: none){
  .el_category{ padding: 3px 10px 1px 10px; }
}

/* IE10- */
.el_category{
  padding-top: 3px\9;
  padding-left: 10px\9;
  padding-bottom: 1px\9;
  padding-right: 10px\9;
}

/* Safari */
_::-webkit-full-page-media, _:future, :root .el_category{
  padding: 3px 10px 1px 10px;
}

/* Firefox */
@-moz-document url-prefix(){
  .el_category{ padding: 3px 10px 1px 10px; }
}

/*# sourceMappingURL=element.css.map */
